#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "japanese_keymap.h"

#define NUM 1
#define FN_SCROLL 2
#define BT 3

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        paren_left: paren_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp JP_LPRN &kp JP_RPRN &kp LEFT>;
            label = "PAREN_LEFT";
        };

        bracket_left: bracket_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp JP_LBRC &kp JP_RBRC &kp LEFT>;
            label = "BRACKET_LEFT";
        };
    };

    behaviors {
        td_henkan: td_henkan {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_HENKAN";
            #binding-cells = <0>;
            bindings = <&kp JP_MHEN>, <&kp JP_HENK>;

            tapping-term-ms = <250>;
        };

        td_esc_bt: td_esc_bt {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_ESC_BT";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE>, <&sl BT>;

            tapping-term-ms = <250>;
        };

        td_paren: td_paren {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_PAREN";
            #binding-cells = <0>;
            bindings = <&kp JP_LPRN>, <&kp JP_RPRN>;

            tapping-term-ms = <250>;
        };

        td_bracket: td_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_BRACKET";
            #binding-cells = <0>;
            bindings = <&kp JP_LBRC>, <&kp JP_RBRC>;

            tapping-term-ms = <250>;
        };

        lt_num_henkan: lt_num_henkan {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_NUM_HENKAN";
            bindings = <&mo>, <&td_henkan>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        semicolon_colon: semicolon_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "SEMICOLON_COLON";
            #binding-cells = <0>;
            bindings = <&kp JP_COLN>, <&kp JP_SCLN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        quote_dquote: quote_dquote {
            compatible = "zmk,behavior-mod-morph";
            label = "QUOTE_DQUOTE";
            #binding-cells = <0>;
            bindings = <&kp JP_QUOT>, <&kp JP_DQUO>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        equal_plus: equal_plus {
            compatible = "zmk,behavior-mod-morph";
            label = "EQUAL_PLUS";
            #binding-cells = <0>;
            bindings = <&kp JP_EQL>, <&kp JP_PLUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        minus_underscore: minus_underscore {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_UNDERSCORE";
            #binding-cells = <0>;
            bindings = <&kp JP_MINS>, <&kp JP_UNDS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ht_bracket_os: ht_bracket_os {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_BRACKET_OS";
            bindings = <&kp>, <&bracket_left>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        ht_paren_ctrl: ht_paren_ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_PAREN_CTRL";
            bindings = <&kp>, <&paren_left>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        WheelScroll: WheelScroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "WHEELSCROLL";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &kp JP_Q             &kp JP_W             &kp JP_E             &kp JP_R             &kp JP_T                                                            &kp JP_Y             &kp JP_U             &kp JP_I             &kp JP_O             &kp JP_P
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &kp JP_A             &kp JP_S             &kp JP_D             &kp JP_F             &kp JP_G             &kp TAB                   &minus_underscore    &kp JP_H             &kp JP_J             &kp JP_K             &kp JP_L             &quote_dquote
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &kp JP_Z             &kp JP_X             &kp JP_C             &kp JP_V             &kp JP_B             &td_esc_bt                &kp BACKSPACE        &kp JP_N             &kp JP_M             &kp JP_COMM          &kp JP_DOT           &kp JP_SLSH
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &ht_paren_ctrl LCTRL 0 &ht_bracket_os LGUI 0 &kp LEFT_ALT      &kp JP_0             &lt FN_SCROLL ENTER  &mkp LCLK                  &lt_num_henkan NUM 0 &mt LSHIFT SPACE                                                                 &semicolon_colon
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
            >;

            sensor-bindings = <&WheelScroll SCRL_DOWN SCRL_UP>;
        };

        NUM {
            bindings = <
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &kp JP_1             &kp JP_2             &kp JP_3             &kp JP_4             &kp JP_5                                                            &trans               &trans               &trans               &trans               &kp DEL
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &kp JP_6             &kp JP_7             &kp JP_8             &kp JP_9             &kp JP_0             &equal_plus               &trans               &kp LG(LEFT_ARROW)   &kp LG(DOWN_ARROW)   &kp LG(UP_ARROW)     &kp LG(RIGHT_ARROW)  &kp PAGE_UP
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &trans               &trans               &trans               &trans               &trans               &kp JP_PLUS               &trans               &kp LA(LEFT_ARROW)   &kp LA(RIGHT_ARROW)  &trans               &trans               &kp PAGE_DOWN
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &trans               &trans               &trans               &trans               &trans               &mkp RCLK                 &trans               &trans                                                                              &kp KP_NUMLOCK
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
            >;

            sensor-bindings = <&WheelScroll SCRL_LEFT SCRL_RIGHT>;
        };

        FN_SCROLL {
            bindings = <
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &kp F1               &kp F2               &kp F3               &kp F4               &kp F5                                                              &kp JP_EXLM          &kp JP_HASH          &kp JP_DLR           &kp JP_PERC          &kp JP_AMPR
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &kp F6               &kp F7               &kp F8               &kp F9               &kp F10              &kp F11                   &kp JP_QUOT          &kp LEFT_ARROW       &kp DOWN_ARROW       &kp UP_ARROW         &kp RIGHT_ARROW      &kp JP_CIRC
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &kp LC(JP_Z)         &kp LC(JP_X)         &kp LC(JP_C)         &kp LC(JP_V)         &trans               &kp F12                   &trans               &td_paren            &td_bracket          &kp JP_ASTR          &kp JP_PIPE          &kp JP_TILD
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &trans               &trans               &trans               &trans               &trans               &mkp MCLK                 &kp LA(LEFT_ARROW)   &kp LA(RIGHT_ARROW)                                                                 &kp JP_YEN
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        BT {
            bindings = <
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &trans               &trans               &trans               &trans               &trans                                                              &bt BT_SEL 0         &bt BT_SEL 1         &bt BT_SEL 2         &bt BT_SEL 3         &bt BT_SEL 4
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &trans               &trans               &trans               &trans               &trans               &trans                    &sys_reset           &trans               &trans               &trans               &trans               &trans
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &trans               &kp JP_1             &kp JP_2             &kp JP_3             &trans               &trans                    &bootloader          &trans               &trans               &trans               &trans               &bt BT_CLR
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
    &bootloader          &sys_reset           &trans               &trans               &trans               &trans                    &trans               &trans                                                                             &bt BT_CLR_ALL
// +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+    +--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
            >;
        };
    };
};
